/* reset css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Josefin Sans", sans-serif;
}
body a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}
body img,
body picture {
  max-width: 100%;
  display: block;
}
body input,
body button,
body textarea,
body select {
  font: inherit;
}
body ul {
  list-style-type: none;
}
@media (prefers-reduced-motion: reduce) {
  body html:focus-within {
    scroll-behavior: auto;
  }
  body *,
body *::before,
body *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body .background {
  min-height: 60vh;
  background: hsl(235deg, 21%, 11%);
  padding: 1rem;
}
body .cover {
  height: 40vh;
  width: 100vw;
  background-image: url("images/bg-desktop-dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  display: flex;
  margin-bottom: auto;
}
body .cover__head {
  color: white;
  letter-spacing: 1rem;
  left: 2%;
  position: absolute;
  top: -100%;
}
body .cover__darkmode {
  cursor: pointer;
  right: 2%;
  position: absolute;
  display: block;
  top: -80%;
}
body .wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  margin: -20px auto 0 auto;
  width: clamp(50%, 92%, 600px);
  left: 0%;
}
body .todolist {
  flex-direction: row;
  display: flex;
  position: relative;
  padding: 0.9rem;
  background-color: hsl(235deg, 24%, 19%);
  min-width: 38%;
  height: 10%;
  color: white;
  border-bottom: 2px solid hsl(237deg, 14%, 26%);
  text-align: left;
  overflow: hidden;
  align-items: center;
  gap: 4rem;
  justify-content: space-between;
  cursor: pointer;
}
body .todolist__checkED {
  border: 1px solid hsl(234deg, 11%, 52%);
  height: 1.25rem;
  width: 1.25rem;
  background: none;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  margin-left: 0.2rem;
  outline: none;
  border: 2px solid;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
body .todolist__text {
  margin-left: 2rem;
  text-decoration: none;
}
body .todolist__textLine {
  margin-left: 2rem;
  text-decoration: line-through;
}
body .todolist__deletebutton {
  background-image: url("images/icon-cross.svg");
  background-repeat: no-repeat;
  height: 1rem;
  width: 1rem;
  position: absolute;
  right: 4%;
  display: block;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
body .todolist__checkbutton {
  border: 1px solid hsl(234deg, 11%, 52%);
  height: 1.25rem;
  width: 1.25rem;
  background: none;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  margin-left: 0.2rem;
  outline: none;
  border: 2px solid;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
body .todolist__checkbutton__active {
  border: 1px solid hsl(234deg, 11%, 52%);
  outline: none;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  margin-left: 0.2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("images/icon-check.svg");
  background-image: url("images/icon-check.svg"), linear-gradient(hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
}
body .todolist__checkbutton:hover {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("images/icon-check.svg");
  background-image: url("images/icon-check.svg"), linear-gradient(hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
}
body .todolist__checkbutton__list {
  font-size: 1rem;
}
body .todo {
  position: absolute;
  width: clamp(50%, 90%, 620px);
  padding: 0.4rem 0.5rem;
  left: 50%;
  top: 36%;
  transform: translate(-50%, -80%);
  align-self: center;
  display: flex;
}
body .todo__buttoncheck {
  border: 1px solid hsl(234deg, 11%, 52%);
  outline: none;
  background: none;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  position: absolute;
  align-self: center;
  cursor: pointer;
  margin-left: 2%;
  align-self: center;
}
body .todo__buttoncheck:hover {
  background-image: url("images/icon-check.svg");
  background-image: url("images/icon-check.svg"), linear-gradient(hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
  background-repeat: no-repeat;
  background-position: center;
}
body .todo__input {
  width: 100%;
  background-color: hsl(235deg, 24%, 19%);
  height: 100%;
  font-size: 0.8rem;
  color: hsl(233deg, 11%, 84%);
  padding: 10px 10px 10px 45px;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  color: hsl(234deg, 39%, 85%);
  border-radius: 0.2rem;
}
body .function {
  background-color: hsl(235deg, 24%, 19%);
  display: flex;
  position: relative;
  padding: 0.5rem;
  border-radius: 0rem 0rem 0.55rem 0.55rem;
  color: hsl(233deg, 14%, 35%);
  gap: 1.5rem;
  min-width: 40%;
}
body .function__group__mobile {
  position: absolute;
  transform: translate(-50%, 100%);
  background-color: hsl(235deg, 24%, 19%);
  display: flex;
  padding: 0.5rem;
  border-radius: 0.4rem;
  color: hsl(233deg, 14%, 35%);
  gap: 1.5rem;
  min-width: 100%;
  left: 50%;
  text-align: center;
  justify-content: center;
}
body .function__group {
  justify-content: center;
  margin-left: auto;
  gap: 0.2rem;
}
body .function__button__clearcompleted {
  margin-right: auto;
}
body .function__left {
  display: inline-block;
  align-self: center;
  margin-left: 1rem;
}
body .function__button {
  background: none;
  border: none;
  cursor: pointer;
  color: hsl(233deg, 14%, 35%);
}
body .function__button:hover {
  color: hsl(220deg, 98%, 61%);
}

input[type=checkbox]:checked {
  background-image: url("images/icon-check.svg");
  background-image: url("images/icon-check.svg"), linear-gradient(hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
  background-repeat: no-repeat;
  background-position: center;
  color: black;
}

.sortable-blue {
  background-color: hsl(220deg, 98%, 61%);
  box-shadow: 0px 0px 8px 0px hsl(220deg, 98%, 61%);
}

.focus:focus {
  color: hsl(220deg, 98%, 61%);
}

@media only screen and (max-width: 320px) {
  .function__group__mobile {
    margin-top: 2rem;
  }
}/*# sourceMappingURL=style.css.map */